/* RESET */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f8fafc;
}

/* MAIN CONTAINER */
.login-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.login-left {
  width: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-box {
  width: 100%;
  max-width: 400px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.logo-box {
  background: #0d9488;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

/* TEXT */
.title {
  font-size: 28px;
  font-weight: bold;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 20px;
}

/* INPUT */
.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 15px;
}

/* BUTTON */
.btn {
  width: 100%;
  background: #0d9488;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #0f766e;
}

/* RIGHT SIDE */
.login-right {
  width: 50%;
  background: #eef2f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* CARDS */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.footer-text {
  text-align: center;
  color: #6b7280;
  max-width: 300px;
}